header {
    width: 960px;
    height: 80px;
}

body {
    background-image: url("assets/images/ripples.png");
}

.menu {
    display: inline;
}

.contentWidth {
    width: 960px;
}


header h1 {
    background-color: #4aaaa5;
    color: white;
}

nav {
    float: right;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
}

.footer {
    height: 50px
}



